asn1crypto==0.23.0
backports.shutil-get-terminal-size==1.0.0
bleach==2.0.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
click==6.7
cryptography==2.0.3
cycler==0.10.0
decorator==4.0.9
entrypoints==0.2.3
enum34==1.1.6
html5lib==0.999999999
idna==2.6
ipykernel==4.6.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==5.1.5
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==1.5.3
mistune==0.7.4
multipledispatch==0.4.9
munch==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.4.3
notebook==5.0.0
numpy==1.13.3
pandas==0.22.0
pandas-datareader==0.2.1
pandocfilters==1.4.2
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pyasn1==0.3.6
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==17.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.2
-e git+git@github.com:L1NT/qstrader.git@065521cf9b3885d705bc8e1a3c820ae22d840cb2#egg=qstrader
requests==2.18.4
requests-cache==0.4.12
requests-file==1.4.2
scipy==0.17.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
terminado==0.6
testpath==0.3.1
tornado==4.5.2
traitlets==4.1.0
urllib3==1.22
webencodings==0.5.1
widgetsnbextension==3.0.2
